body {
    margin:0px;
    padding: 0px;
}


nav {
    background-color: #08011a;
    padding: 0
}
nav img {
    padding: 15px;
    height: 30px;
    width: 60px;
}


button, p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
button {
    font-weight: bold;
    font-size: 17px;
    border: 0px;
    padding-left: 25;
    padding-right: 25;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #142a4f;
    border-radius: 15px;
}
p {
    margin:0;
}
h1 {
    margin:0;
    color: white;
    font-weight: bold;
    font-size: 40px;
}



#home{
    background-color: #06142b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px
}
#home p{
    font-weight: bold;
}
#home div img{
    height: 9vw;
}
#home div button {
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
#home div:nth-of-type(1){
    margin-right:175px
}
#home-side-text-one, #home-side-text-two {
    color: white;
    font-size:50px
}
#home-side-text-one {
    display: inline;
}
#home-side-text-two {
    margin-left: 175px
}



@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
}
#examples {
    background-color: #142a4f;
    padding: 100px;
}
#examples p, h1 {
    font-family: 'Roboto';
}
#examples h1 {
    font-size: 50px;
    margin-bottom: 15px;
}
#first-example-img {
    width: 600px;
    margin-right: 100px;
}
#second-example-img {
    width: 600px;
    margin-left: 100px;
}
.example {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

#static {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: #06142b;
    justify-content: center;
    height:3000px;
    overflow: visible;
}

.side-text {
    margin-top: 100px;
}

.side-text p {
    top: 100px;
    position:sticky;
    
}

#static img {
    position:sticky;
    margin-top: 100px;
    top:100px;
    height: 450px;
    grid-column: 2;
}
#side-text-one {
    grid-column: 1;
}
#side-text-two {
    grid-column: 1;
}
#side-text-three {
    grid-column: 2;
}
#side-text-four {
    grid-column: 2;
}

#contact {
    background-color: white;
    text-align: center;
}

#contact img{
    height: 300px;
}

#contact h1, #contact p{
    color: black;
    font-family:  'Roboto';
}

#contact h1{
    font-size: 100px
}

#contact p {
    font-size: 25px;
}

