body {
    margin:0px;
    padding: 0px;
    overflow-x: hidden
}


/* Navegação */
nav {
    background: #06142B;
    background: linear-gradient(0deg, rgba(6, 20, 43, 1) 0%, rgba(8, 1, 26, 1) 100%);
    display:flex;
    flex-direction: row;
    align-items: center;
}
nav img {
    padding: 15px;
    height: 20px;
    margin-left: 100px;
}
nav p {
    font-size: 20px;
    margin-top: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* Gerais */
button, p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
p {
    margin:0;
}
h1 {
    margin:0;
    color: white;
    font-weight: bold;
    font-size: 40px;
}


/* Home */
#home{
    background-color: #06142b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
    padding-bottom: 25vh
}
#home p{
    font-weight: bold;
}
#home div img{
    height: 9vw;
    margin-left: 2vw;
    transform: scale(0.6)
}
#home div img.active {
    transition: transform 0.4s ease-out;
    transform: scale(1)
}
#home div button {
    font-weight: bold;
    font-size: 17px;
    border: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #142a4f;
    border-radius: 15px;
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
#home div button:hover {
    cursor: pointer;
    background-color: #2b4674
}
#home div:nth-of-type(1){
    margin-right:175px
}
#home-side-text-one, #home-side-text-two {
    color: white;
    font-size:50px;
    transform: scale(0.6)
}
#home-side-text-one.active, #home-side-text-two.active {
    transform: scale(1);
    transition: transform 0.4s ease-out;
}
#home-side-text-one {
    display:inline-block
}
#home-side-text-two {
    margin-left: 25vw
}


/* Exemplos */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
}
#examples {
    background-color: #142a4f;
    padding: 100px;
}
#examples p, h1 {
    font-family: 'Roboto';
}
#examples h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

#left-example-text h1, #left-example-text p {
    transform: translateX(-100%);
    opacity: 0
}
#left-example-text p.active {
    transition: transform 0.6s ease-out, opacity 0.9s ease-out;
    transform: translateX(0);
    opacity: 1
}
 #left-example-text h1.active{
    transition: transform 0.4s ease-out, opacity 0.7s ease-out;
    transform: translateX(0);
    opacity: 1
 }
#right-example-text h1, #right-example-text p {
    transform: translateX(100%);
    opacity: 0
}
#right-example-text p.active {
    transition: transform 0.6s ease-out, opacity 0.9s ease-out;
    transform: translateX(0);
    opacity: 1
}
 #right-example-text h1.active{
    transition: transform 0.4s ease-out, opacity 0.7s ease-out;
    transform: translateX(0);
    opacity: 1
 }

#first-example-img {
    width: 600px;
    margin-right: 100px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
}
#second-example-img {
    width: 600px;
    margin-left: 100px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
}
.example {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}


/* Imagem estática */
#static {
    display: grid;
    grid-template-columns: 20% 42% 20%;
    background-color: #06142b;
    justify-content: center;
    height:3000px;
    padding-bottom:200px;
    overflow: visible;
}
.side-text {
    margin-top: 100px;
}
.side-text p {
    position:sticky;
    font-size: 17.5px;
    font-family: "Roboto";
    transition: 1.4s ease;
    opacity: 0
}
.side-text p.active{
    opacity: 1;
}
#static img {
    position:sticky;
    margin-top: 100px;
    top:25vh;
    bottom: 200px;
    width: 40vw;
    grid-column: 2;
    justify-self: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
#side-text-one {
    grid-column: 1;
}
#side-text-two {
    grid-column: 3;
}
#side-text-three {
    grid-column: 1;
    grid-row: 2;
}
#side-text-four {
    grid-column: 3;
    grid-row: 2;
}
#side-text-one, #side-text-three {
    justify-self: right;
}

#side-text-one p {
    top: 28vh;
    text-align: right;
}
#side-text-two p {
    top: 67vh;
    text-align: left;
}
#side-text-three p {
    top: 67vh;
    text-align: right;
}
#side-text-four p {
    top: 28vh;
    text-align: left;
}





/* Lead final */
#contact {
    background-color: white;
    text-align: center;
    height: 100vh
}
#contact img{
    height: 300px;
    margin-top: 100px
}
#contact h1, #contact p{
    color: black;
    font-family:  'Roboto';
}
#contact h1{
    font-size: 100px
}
#contact p {
    font-size: 25px;
}
.end-button {
    background-color: rgb(2, 2, 2);
    color: white;
    font-size: 22px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: solid;
}
.end-button:hover {
    cursor: pointer;
    background-color: #fcfcfc;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: black
}

